.card-horizontal {
	margin: 1%;
	--defaultwhite: rgba(255, 255, 255, 1);
	--gray-300: rgba(222, 226, 230, 1);
	--gray-900: rgba(33, 37, 41, 1);
	--body-text-base-color: rgba(104, 113, 122, 1);
	--secondarylight-color: rgba(171, 181, 190, 1);
	--semi-bold-h4-heading-font-family: "Inter-SemiBold", Helvetica;
	--semi-bold-h4-heading-font-weight: 600;
	--semi-bold-h4-heading-font-size: 24px;
	--semi-bold-h4-heading-letter-spacing: 0px;
	--semi-bold-h4-heading-line-height: normal;
	--semi-bold-h4-heading-font-style: normal;
	--body-base-text-font-family: "Inter-Regular", Helvetica;
	--body-base-text-font-weight: 400;
	--body-base-text-font-size: 16px;
	--body-base-text-letter-spacing: 0px;
	--body-base-text-line-height: 28px;
	--body-base-text-font-style: normal;
	
	display: flex;
	width: 46.73vw;
	height: 48vh;
	align-items: center;
	position: relative;
	background-color: var(--defaultwhite);
	border-radius: 12px;
	overflow: hidden;
	border: 1px solid;
	border-color: var(--gray-300);
}
.card-horizontal .img {
	display: inline-flex;
	align-items: flex-start;
	position: relative;
	margin-top: -3.5px;
	margin-bottom: -3.5px;
	width: 25vw; 
	overflow: hidden;
    display: flex;
    justify-content: center;
	
	/* height: 100%;  */
  /* object-fit: cover;  */
}
.card-horizontal .rectangle {
	margin: 0 !important;
	position: relative;
	height: 48vh;
	object-position: 0 60%;
    /* margin: 1% -1% 1% -1%; */
}
.card-horizontal .content {
	margin:0 !important;
	display: flex;
	flex-direction: column;
	width: 23.75vw;
	align-items: flex-start;
	justify-content: center;
	gap: 1vw;
	padding: 3.6%;
	position: relative;
	align-self: stretch;
	padding-top: 0;
}
.card-horizontal .text-wrapper {
	position: relative;
	width: fit-content;
	font-family: var(--semi-bold-h4-heading-font-family);
	font-weight: var(--semi-bold-h4-heading-font-weight);
	color: var(--gray-900);
	font-size: var(--semi-bold-h4-heading-font-size);
	letter-spacing: var(--semi-bold-h4-heading-letter-spacing);
	line-height: var(--semi-bold-h4-heading-line-height);
	font-style: var(--semi-bold-h4-heading-font-style);
}
.card-horizontal .stack {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}
.card-horizontal .div {
	position: relative;
	align-self: stretch;
	margin-top: -1px;
	font-family: var(--body-base-text-font-family);
	font-weight: var(--body-base-text-font-weight);
	color: var(--body-text-base-color);
	font-size: var(--body-base-text-font-size);
	letter-spacing: var(--body-base-text-letter-spacing);
	line-height: var(--body-base-text-line-height);
	font-style: var(--body-base-text-font-style);
}
.card-horizontal .p {
	position: relative;
	width: 272px;
	font-family: "Inter-Italic", Helvetica;
	font-weight: 400;
	font-style: italic;
	color: var(--secondarylight-color);
	font-size: 17px;
	letter-spacing: 0;
	line-height: normal;
}
