<<<<<<< HEAD
/*
    Notes:
        margin
            margin: (TOP) (RIGHT) (BOTTOM) (LEFT);
*/
.topBar{
    /*Order does matter!!*/
    list-style-type: none;
    margin: -9px -8px 0px -8px;
    padding:0;
    overflow: hidden;
    background-color:#4a86e8;/*#333 is a good dark mode color*/
    position: -webkit-sticky;  
    position: sticky;
    top:0;
    
    
}
.barButton{
    float: left;
}
.topBar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 1.5vw 2vw;
  text-decoration: none;
  font-family:arial;
  font-size:2vw; /*Readjust this later [] */
}
.barButton:hover{
    background-color:#4176CC;
}
#headerLast{
    float:right;
    border-left:1px solid #bbb;
}
a{
    text-decoration:none;
}
/* mouse over link */
a:hover {
  color: white;
}
/* selected link [] */
a:active{
    color:pink; 
}
.background{
    /*background-image:url(https://live.staticflickr.com/65535/49104583267_5517695e82_5k.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    /*Dark background colors*/
    background-color:#66594d;
    background-color:#2b2621;
    background-color:#1a1613;
    color:#ededed;
    /*Light background colors*/
    background-color:white;
    color:black;
}
.head1{
    font-size: 5vw;
    text-align:center;
    font-family: Helvetica, sans-serif;
	font-style: italic;
}
h3{
    font-size:4vw;
    margin-bottom:0px;
}
p{
    font-size:2vw;
    font-family:arial;
    margin-top:0;
    margin-bottom:0;
}
.innerPage{
    margin: 3vw 4vw 0px 4vw;
    padding:10px 2vw 31px 2vw;
    /*Dark*/
    background-color:#2b2621;
    /*light*/
    background-color:#f2f3f5;
}
.linkButton{
    display:block;
    background-color:#4a86e8;
    color: white;
    font-size:2.1vw;
    overflow: hidden;
    margin: 10px 2px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family:arial;
}
.bLinks{
    background: rgba(166, 165, 181, .95);
    border-top:1vw solid #4a86e8;
    margin: -9px -8px -8px -8px;
    padding:10px 11px 31px 10px;
}
=======

>>>>>>> e8d187e303ba05a344648a924836ad5379cac0e7
