@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topbar-color: #05091C;
  --main-text-highlight: #39D85C;
  --main-color: #467AFF;
  --accent: #28448E;
  --void: #25252F;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer components {
  .btn {
    background-color: theme('colors.main');
    border-radius: 4px;
  }
  /* 
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  ... */
}


.drop-shadow-custom{
  filter: drop-shadow(0 7px 6px var(--main-color))
}

/* custom css for page to combat overscroll effects */
body {
  /* annoying overflow on coding page. */
  overflow-x: hidden;

  /* prevents user from look beyond scroll area (try using edge and commenting line below) */
  overscroll-behavior: none;
}